.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.card-container {
		@apply bg-white rounded-lg shadow-lg p-4 space-y-4;

		.card {
			@apply bg-blue-500 text-white px-4 py-2 rounded-md cursor-pointer;

			span {
				@apply font-semibold;
			}
		}

		.card-small {
			@apply w-32;
		}

		img {
			max-width: 100%;
			margin-top: 1rem; /* Add margin between the button and the image */
		}
	}
}
