<div class="map-container">
	<div id="map"></div>
	<ion-icon
		name="locate-sharp"
		class="ion-icon-top-right"
		(click)="toggleMarker()"
	></ion-icon>
</div>

<div class="fixed bottom-0 w-full bg-white shadow-md p-4">
	<div class="row">
		<div class="col-md-4 col-lg-4 text-center">
			<h4 class="text-xl font-semibold">
				Total Distance: {{ totalDistance }} km
			</h4>
		</div>
		<div class="col-md-4 col-lg-4 text-center">
			<h4 class="text-xl font-semibold">Total Cost: TK</h4>
		</div>
		<div class="col-md-4 col-lg-4 text-center">
			<h4 class="text-xl font-semibold">
				Total Duration: {{ calculateRideTime() }} seconds
			</h4>
		</div>
		<div class="col-12 text-center mt-2">
			<button
				class="btn btn-primary btn-lg rounded-circle"
				(click)="toggleMarker()"
				*ngIf="!tracking; else stopButton"
			>
				Start
			</button>
			<ng-template #stopButton>
				<button
					class="btn btn-danger btn-lg rounded-circle"
					(click)="toggleMarker(); fitToBounds()"
				>
					Stop
				</button>
			</ng-template>
		</div>
	</div>
</div>
